# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# SQLite database
database/*.db

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store

# Python virtual environment
venv/
